<%- include('header'); -%>
<div class="text-center pt-10">
  <h1 class="text-3xl font-bold underline">سلام دنیا</h1>
  <p>این یک نمونه برای طراحی ایده های شماست</p>
  <br />
  <button class="btn btn-primary">سلام دنیا</button>
</div>
<%- include('footer'); -%>
